asgiref==3.7.2
distlib==0.3.7
Django==5.0.1
filelock==3.12.4
pillow==10.2.0
platformdirs==3.11.0
python-decouple==3.8
python-gettext==5.0
sqlparse==0.4.4
tzdata==2023.4
virtualenv==20.24.5
virtualenvwrapper-win==1.2.7
whitenoise==6.6.0
