<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="userApp/style/style.css'">
    <title>List of trainings</title>
  </head>
  <body>
    {% include 'userApp/_navbar.html' %}
    
    {% block content %}
    {% endblock %}

    
    {% include 'userApp/footer.html' %}
    
  </body>
</html>
