{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container-fluid">
        <h1 class="h3 mb-4">
            {% trans 'Profile' %}
        </h1>

        <fieldset class="border p-3 rounded">
            <legend class="h4 mb-3">{% trans 'Change Password' %}</legend>
            <form action="" method="POST" class="mb-4">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" aria-pressed="true" class="btn btn-primary">
                    {% trans 'Change Password' %}
                </button>

            </form>
        </fieldset>
    </div>

{% endblock %}