{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <h2 class="h4">{% trans 'Signin' %}</h2>

    <p>
        {{ error }}
    </p>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="card mx-auto border border-3">
            <div class="card-body">
                {{ form.as_p }}
            </div>
            <div class="card-body row gy-4 justify-content-start">
                <div class="col-md-4">
                    <button aria-pressed="true" class="btn btn-primary">
                        {% trans 'Signin' %}
                    </button>
                </div>
            </div>
        </div>        
    </form>

{% endblock %}