{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="card my-3 border border-3">
  <div class="card-header">
      {% trans "Note" %}
  </div>
  <div class="card-body">
      <blockquote class="blockquote mb-0">
          {% blocktrans %}
          <ul class="list-group list-group-flush">
              <li class="list-group-item">If you have already answered this survey or do not wish to take it at this time, you can go to the bottom of the page and press the skip button</li>
          </ul>
          {% endblocktrans %}
      </blockquote>
  </div>
</div>

  <div class="container mt-5">
    <h1 class="mb-4">{% trans 'Comment' %}</h1>

    <form action="" method="POST" class="mb-4">
      {% csrf_token %}

      <div class="form-group">
        {{ form.more_liked.label_tag }}
        {{ form.more_liked }}
      </div>

      <div class="form-group">
        {{ form.least_liked.label_tag }}
        {{ form.least_liked }}
      </div>

      <div class="form-group">
        {{ form.comment_aditional.label_tag }}
        {{ form.comment_aditional }}
      </div>

      <div class="form-group">
        {{ form.stars.label_tag }}
        <span class="star-rating">
          {% for i in "12345" %}
            <input type="radio" name="{{ form.stars.name }}" id="{{ form.stars.id_for_label }}_{{ i }}" value="{{ i }}">
            <label for="{{ form.stars.id_for_label }}_{{ i }}"><i class="fas fa-star"></i></label>
          {% endfor %}
        </span>
      </div>

      <button type="submit" class="btn btn-primary">
        {% trans 'Send' %}
      </button>
    </form>

    <p class="text-danger mt-3">
      {{ error }}
    </p>
  </div>
  <!-- Botón para omitir el comentario-->
<div class="mt-4">
  <a href="{% url 'trainingApp:training_List' %}" class="btn btn-primary">{% trans 'Skip Comment' %}</a>
</div>
{% endblock %}