<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ training.name_training }}</title>
</head>
<body>
    <header>

    </header>

    <main>
        <h1>{{ training.name_training }}</h1>
        <section>
            <form method="post">
            {% csrf_token %}
                <h3>{{ deploy.question_text_p }}</h3>
                <fieldset>
                    <legend>Choose an option:</legend>
                    <input type="checkbox" name="choice_text" id="choice {{ forloop.counter }}" value="{{ choice_text.id }}"/>
                    <label for="choice {{ forloop.counter }}">{{ choice_text }}</label><br>
                </fieldset>
            </form>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>