<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
</head>
<body>
    <header>

    </header>

    <main>
        <form action="{% url 'trainingApp:results' training.id}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ training.name_training }}</h1></legend>
            <ul>
            {% for deploy in training.deploy_set.all %}
                <img src="{{ deploy.deploy_image.url }}" alt="Function Image">
                <audio controls>
                    <source src="{{ deploy.deploy_sound.url }}" type="audio/mpeg">
                </audio>
                {% for question in deploy.question_set.all %}
                    <legend><h2>{{ question.question_text }}</h2></legend>
                    <input type="radio" name="choice" id="choice {{ forloop.counter }}" value="{{ deploy.id }}">
                    <label for="choice{{ forloop.counter }}">{{ question.choice_text }}</label><br>
                {% endfor %}
            {% endfor %}
            </ul>
        </fieldset>
        <input type="submit" value="Results">
        </form>
    </main>

    <footer>

    </footer>
</body>
</html>