<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ training.name_training }}</title>
</head>
<body>
    <header>

    </header>

    <main>
        <h1>{{ training.name_training }}</h1>
        
        <form method="POST">
            {% csrf_token %}
            
            <div class="form-deploy">
                <img src="{{ form.instance.deploy_image.url }}" alt="Displayed Image">
                <audio controls>
                    <source  src="{{ form.instance.deploy_sound.url }}" type="audio/mpeg">
            Your browser does not support audio playback.
                </audio>
            </div>
            <div class="form-question">
                <p>What you saw and/or heard is a function of what type: (check one option below)</p>
            </div>
            <div class="form-choice">
                <ul>
                    {% for field in form.visible_fields %}
                        <li>
                            {{ field }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <input type="submit" value="send">
        </form>

    </main>

    <footer>

    </footer>
</body>
</html>