<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'trainingApp/style/style.css' %}">

    <title>List of trainings</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light back">
            <div class="container">
                <a class="navbar-brand">
                    <img src="/static/trainingApp/images/logo1.png" alt="logo_ibio" width="60" height="60">
                    Trainings
                </a>
            </div>
        </nav>
    </header>

    <main>
        <h1>List of Training:</h1>

        <div class="container">
        {% if list_training %}
            <ul class="list-group">
            {% for training in list_training %}
                <li class="list-group-item">
                    <a href="{% url 'trainingApp:forms' training.id %}">
                        {{ training.name_training }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Sorry!! No training are available.</p>
        {% endif %}
        </div>
    </main>

    <footer class="back">
        <div class="row">
            <div class="col align-self-start">
                <p class="h6">Contact:</p>
                <p>sonounoteam@gmail.com</p>
            </div>
            <div class="col align-self-center"></div>
            <div class="col 
            align-self-end">
                <img src="/static/trainingApp/images/logo2.png" alt="logos conicet-UM" width="60" height="60">
            </div>
        </div>
    </footer>
</body>
</html>