
    {% extends "trainingApp/base.html" %}

    {% block content %}
    <main>
        <h1>List of Training:</h1>

        <div class="container">
        {% if list_training %}
            <ul class="list-group">
            {% for training in list_training %}
                <li class="list-group-item">
                    <a href="{% url 'trainingApp:forms' training.id %}">
                        {{ training.name_training }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Sorry!! No training are available.</p>
        {% endif %}
        </div>
    </main>
    {% endblock %}
