{% extends "base.html" %}

{% block content %}

<main>
    <h1>List of available blocks:</h1>

    <div class="container">
    {% if block_available %}
        <ul class="list-group">
        {% for block in block_available %}
            <li class="list-group-item">
                <a href="{% url 'training:form' block.id %}">
                    {{ block.block }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>I'm sorry!! There are no blocks available for this training. Come back soon. </p>
    {% endif %}
    </div>
</main>
{% endblock %}