{% load i18n %}

    <footer class="bd-footer py-4 mt-5 back">
        <div class="container">
            <div class="row my-4">
                <div class="col-10">
                    <dt>{% translate 'Contact:' %}</dt>
                    <dd>sonounoteam@gmail.com</dd>
                </div>
                <div class="col-2">
                    <img src="/static/trainingApp/images/logo2.png" alt="Logos of the University of Mendoza, National Technological University and CONICET." width="60" height="60">
                </div>
            </div>
        </div>
    </footer>
