{% extends 'base.html' %} 

{% block content %}

<section class="title">
    <div class="container">
        <h1>Welcome to [name plataform]</h1>
    </div>
    <div>
        <p>Exploring the cosmos through different senses can be within your reach. That's why this platform for training in the sonification of astronomical data and more was created. In the convergence between astronomy and data sonification, we have created a unique space that goes beyond visual representation, allowing you to discover the universe in a multisensory way.</p>
    </div>
</section>
<section class="description">
    <h3>About Us</h3>
    <p>In [Platform Name], we merge vision and hearing to provide you with multisensory training that not only expands your understanding of the cosmos but also enhances your auditory performance when interacting with scientific data. Inspired by innovative projects like sonoUno, our platform focuses on designing a user-centered interface to make science accessible to everyone.</p>

    <h4>Highlighted Features:</h4>
    <ul>
        <li>
            Multisensory Training:
            <p>Immerse yourself in unique learning experiences that combine vision and hearing to enhance understanding of astronomical and scientific data.</p>
        </li>
        <li>
            Accessibility:
            <p>Our platform was designed with the diversity of sensory styles in mind, making science accessible to everyone.</p>
        </li>
        <li>
            Continuous Development:
            <p>We are committed to the continuous improvement of our platform, ensuring user-friendly functionality that guarantees a comfortable learning experience.</p>
        </li>
    </ul>

    <p>Join us and discover the cosmos in an entirely new way on [Platform Name].</p>
</section>

{% endblock %}